NODE_ENV=development

ADMIN_PORT=3000
STORE_PORT=3001

MONGO_URI=mongodb://127.0.0.1:27017/penguin_store

SESSION_SECRET=replace_with_a_long_random_secret

ADMIN_USERNAME=paula
ADMIN_PASSWORD=replace_with_a_secure_password